.alerts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* Header */
.alerts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters select {
  margin-left: 10px;
  padding: 8px;
  border-radius: 8px;
  background: rgba(0,153,255,0.2);
  border: none;
  color: white;
}

/* Alert Cards */
.alerts-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.alert-card {
  backdrop-filter: blur(25px);
  background: rgba(0, 60, 150, 0.25);
  border: 1px solid rgba(0,153,255,0.3);
  border-radius: 18px;
  padding: 20px;
  transition: 0.3s;
}

.alert-card:hover {
  box-shadow: 0 0 40px rgba(255,0,0,0.5);
}

.alert-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.severity {
  font-weight: bold;
}

.status {
  opacity: 0.8;
}

.alert-info {
  display: flex;
  gap: 20px;
  font-size: 14px;
  margin: 10px 0;
}

.alert-actions {
  display: flex;
  gap: 15px;
}

/* Buttons */
.isolate {
  background: linear-gradient(to right, #ff004c, #ff2e63);
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.lock {
  background: linear-gradient(to right, #0077ff, #00aaff);
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.resolve {
  background: linear-gradient(to right, #00ffae, #00c896);
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  color: black;
  cursor: pointer;
}

/* Severity Colors */
.critical {
  border-left: 5px solid red;
}

.high {
  border-left: 5px solid orange;
}

.medium {
  border-left: 5px solid yellow;
}

/* Graph */
.glass {
  backdrop-filter: blur(25px);
  background: rgba(0, 60, 150, 0.25);
  border: 1px solid rgba(0,153,255,0.3);
  border-radius: 18px;
  padding: 20px;
}

.alerts-graph svg {
  width: 100%;
  height: 150px;
}